.swagger-section #header a#logo {
	background: url("../images/logo/logo.png") no-repeat scroll
		left center/50% auto transparent;
	padding: 20px 0 20px 110px;
}

.swagger-section #header {
	background-color: #345f94;
	padding: 14px;
}

.swagger-section #header form#api_selector .input a#explore:hover {
	background-color: #ffcb00;
}

.swagger-section #header form#api_selector .input a#explore {
	background-color: #ffcb00;
}

#api_selector {
	visibility: hidden;
}